h1{
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px #000000;
    font-size: 4rem;
    font-variant-caps: normal;
}
h2{
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration-line: underline;
}
h3{
    text-align: center;
    text-decoration-line: underline;
    color: white;
}
p{
    text-align: center;
}

section{
    width: 300px;

    
}
img{
   width: 300px;
   height: 200px; 
   border-radius: 35%;
   border-style:solid

}
body{
    background-color:rgba(170, 233, 228, 0.795);
    background-image:url(lac2.jpg);

}
footer{
    text-align: center;
    color: white;
}
.shadowbox{
    width: 20em 50em;
    border: 2px solid;
    text-align: center;
    box-shadow: 8px 8px 5px;
    background-color: rgba(107, 238, 220, 0.438);
}
