h1{
    color: black;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 1px 0px black;
    font-size: 4rem;
    font-variant-caps: normal;
}
h2{
    color:black;
    text-align: center;
    text-decoration-line: underline;
}
h3{
    text-align: center;
    text-decoration-line: underline;
}
p{
    text-align: center;
}
div{
    background-color: white;
    border-style: solid;
    box-shadow: 8px 8px 5px;
}
section{
    width: 300px;

    
}
img{
   width: 300px;
   height: 200px; 
   border-radius: 35%;
   border-style:solid

}
body{
    background-color:rgba(170, 233, 228, 0.795)
}
footer{
    text-align: center;
}
.shadowbox{
    width: 20em 50em;
    border: 2px solid;
    text-align: center;
    box-shadow: 8px 8px 5px;
    background-color: rgba(107, 238, 220, 0.438);
}